<div class="row" style="justify-content: center;">
    <div class="col-lg-7" style="text-align: center;">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
            <nb-card-header style="font-family: system-ui;">تغيير الرقم السري</nb-card-header>
            <nb-card-body>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="label">الرقم السرى الجديد</label>
                        <br />
                        <nb-form-field dir="ltr" style="width: 100%;">
                            <nb-icon (click)="toggleShowNewPassword()" nbPrefix [icon]="showNewPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"></nb-icon>
                            <input dir="rtl" fullWidth formControlName="newPassword" placeholder="******" [type]="showNewPassword ? 'text' : 'password'" nbInput>
                          </nb-form-field>

                        <div class="err-Msg"
                            *ngIf="loginFormControl.newPassword.touched && loginFormControl.newPassword.errors?.required">
                            * يرجى ادخال الرقم السرى الجديد
                        </div>
                    </div>

                    <br />
                    <button type="submit" style="width: 10rem;" nbButton status="success">حفظ</button>
                    <br />
                    <br />
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>