label {
  float: right;
}

input,
button,
label {
  font-family: system-ui !important;
}

.err-Msg {
  color: red;
  text-align: right;
}

.role-radio {
  display: initial;
}

.role-radio ::ng-deep .text {
  font-family: system-ui !important;
}
