.table-section ::ng-deep .ng2-smart-sort-link {
  font-family: system-ui;
  color: dimgray !important;
  font-weight: 500;
}

.table-section ::ng-deep .ng-star-inserted {
  text-align: center;
}

.dialog-section {
  padding: 0 1rem 1rem 1rem;
}

.dialo-title,
.confirm-msg {
  font-family: system-ui;
}
