@import "../../styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
  .menu-sidebar {
    order: 0 !important;
    left: auto;
    right: 0;
  }
  @media (min-width: 574px) and (max-width: 1198.4px) {
    .content-section {
      margin-right: 3rem;
      margin-left: -3rem;
    }
    .footer-section {
      margin-right: 3.5rem;
      margin-left: -3.5rem;
    }
  }
}
