.card-title {
  font-family: system-ui;
  text-align: center;
  font-size: 1.1rem;
}

.dialog-section {
  padding: 0 1rem 1rem 1rem;
}
.err-Msg {
  color: red;
  text-align: right;
  font-size: small;
  font-weight: 600;
  font-family: system-ui;
}

.dialo-title,
.dialog-section button,
.dialog-section label,
.dialog-section input {
  font-family: system-ui;
}

::ng-deep .select-button,
::ng-deep nb-option-list.size-medium nb-option {
  font-family: system-ui !important;
}
::ng-deep nb-option-list.size-medium nb-option {
  justify-content: right;
}

.code-label {
  color: #8f9bb3;
  // font-size: smaller;
  font-weight: 500;
}

nb-card-body h6 {
  font-size: initial;
}

::ng-deep .cdk-overlay-pane {
  max-width: 90% !important;

  @media only screen and (min-width: 850px) {
    max-width: 50% !important;
  }
}
